nav img {
  height: 60px;
  cursor: pointer;
}

.navbar {
  background-color: white;
  left: 0;
  right: 0;
  align-items: center;
  box-shadow: 0 0 5px 0 black;
}

.link {
  font-size: 1.5em;
  margin: 20px;
  color: black;
  text-decoration: none;
  float: right;
}

.active {
  font-weight: bold;
}

.logout-img {
  margin-left: 10px;
}

.btn[class*="btn-outline-"] text {
  margin: 0;
  font-size: large;
}