header img {
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  box-shadow: 0 0 5px 0 black;
}

header * {
  display: inline;
}

.link {
  font-size: 1.5em;
  margin: 20px;
  color: black;
  text-decoration: none;
  float: right;
}

.selected-link {
  font-weight: bold;
}